#Seedoctor{
    border: none;
    padding: 5px 10px;
    /* background-color: rgba(255, 255, 255, 0.849); */
    border-radius: 40px;
   
}
#services{
    /* background-color:whitesmoke; */
    background-color: black;
    color: white;
   padding: 40px;
   
   box-shadow: 0 .1rem .1rem .1rem rgb(190, 189, 189);
    border-radius: 20px;
    transition: 0.2s;
   
    
}
#doctors{
    border: none;
}
#services:hover{
    box-shadow: 0 .2rem 1rem rgb(190, 189, 189);
    border-radius: 10px;
    transition: 0.2s;
    }
    

     
    .service-img{
        overflow: hidden;
    }
    body{
        overflow-x: hidden;
    }
    html{
        overflow-x: hidden;
    }
    
    
    